<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>104405079761-t3amtep7271453mn1di3o11kik1nm44p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104405079761-t3amtep7271453mn1di3o11kik1nm44p</string>
	<key>API_KEY</key>
	<string>AIzaSyB13cjKg7NA21Lg1h14WSUKtx10cLEvUs8</string>
	<key>GCM_SENDER_ID</key>
	<string>104405079761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.forestplasencia.ghost</string>
	<key>PROJECT_ID</key>
	<string>masked-980ab</string>
	<key>STORAGE_BUCKET</key>
	<string>masked-980ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:104405079761:ios:7a43bb2b8f37738b</string>
	<key>DATABASE_URL</key>
	<string>https://masked-980ab.firebaseio.com</string>
</dict>
</plist>
